<launch>
  <arg name="move_group" default="manipulator"/>
  <arg name="reference_frame" default="base_link"/>
  <node name="advanced_move_controller" pkg="manipulator_position_controller" type="advanced_move_controller.py" output="screen">
    <param name="move_group" value="$(arg move_group)"/>
    <param name="reference_frame" value="$(arg reference_frame)"/>
    <param name="pos_tolerance" value="0.01"/>
    <param name="ori_tolerance" value="0.1"/>
    <param name="max_retries" value="6"/>
    <param name="retry_perturb" value="0.015"/>
    <param name="workspace_limits" value="{min_x: -0.5, max_x: 0.6, min_y: -0.5, max_y: 0.5, min_z: 0.05, max_z: 0.6}"/>
  </node>
</launch>
